<div class="row">
    <div class="container">
 <div class="col-md-6 col-md-offset-3">
<%= form_for [@event,@visitor] do |f| %>
  <% if @visitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visitor.errors.count, "error") %> prohibited this visitor from being saved:</h2>

      <ul>
      <% @visitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   
  <div class="field">
  <label> <%= f.label :name %> </label>
  <input class="form-control input-md" required="required"  <%= f.text_field :name %>
  </div>
  <div class="field">
    <label><%= f.label :company %></label>
   <input class="form-control input-md" required="required" <%= f.text_field :company %>
  </div>
  <div class="field">
   <label> <%= f.label :designation %></label>
   <input class="form-control input-md" required="required" <%= f.text_field :designation %>
  </div>
  <div class="field">
   </label> <%= label_tag :product %></label>
  <select class="form-control input-md" required="required" style="height:105px; margin-bottom: 10px;" multiple  <%= select_tag :products,options_for_select(@products), {:multiple => true}  %>
  </select>
  <div class="field">
   <label> <%= f.label :contact_number %></label>
   <input class="form-control input-md" required="required" <%= f.text_field :contact_number %>
  </div>
  <div class="field">
   <label> <%= f.label :email %></label>
  <input class="form-control input-md" required="required"  <%= f.text_field :email %>
  </div>
  <div class="field">
   <label> <%= f.label :notes %></label>
  <textarea class="form-control input-md" <%= f.text_area :notes %> </textarea>
  </div>
  <div class="actions">
   <input class="btn btn-success" <%= f.submit %>
  </div>
  </div>
  </div>
  </div>
<% end %>
